@{
    Layout = null;
}
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>登录 - LiteAbpUBD.Web</title>
     <link href="~/lib/tabler/css/tabler.min.css" rel="stylesheet" />
    <link href="~/lib/tabler/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/lib/tabler/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/lib/tabler/css/tabler-vendors.min.css" rel="stylesheet" />
</head>
<body class=" border-top-wide border-primary d-flex flex-column">
    <div class="page page-center" style="min-height: 80vh;">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark"><img src="/imgs/logo.svg" height="36" alt=""></a>
            </div>
            <form class="card card-md" autocomplete="off">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">LiteAbpUBD.Web 后台管理系统</h2>
                    <div class="mb-3">
                        <label class="form-label">用户名</label>
                        <input type="text" class="form-control" name="username" placeholder="请输入用户名" autocomplete="off" required>
                        <div class="invalid-feedback">请输入用户名..</div>
                    </div>
                    <div class="mb-2">
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" name="password" id="page-form-pwd" placeholder="请输入密码" autocomplete="off" required>
                            <span class="input-group-text" id="page-form-showpwd">
                                <a href="#" class="link-secondary" title="显示密码" data-bs-toggle="tooltip">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
                                </a>
                            </span>
                            <div class="invalid-feedback">请输入密码..</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" name="rememberme" value="true"/>
                            <span class="form-check-label">记住登录</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="button" class="btn btn-primary w-100">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Tabler Core -->
    <script src="~/lib/tabler/js/tabler.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    <script type="text/javascript">
        $(function() {
            var $form = $('form.card');
            //登录
            $form.find('button.btn-primary').on('click', function() {
                if (!$form[0].checkValidity()) {
                    $form.addClass('was-validated')
                } else {
                    $.ajax({
                        url: '/Home/Login',
                        type: "POST",
                        data: $form.serialize(),
                        cache: false,
                        success: function() {
                           var redirectUrl= site.url.getParam('ReturnUrl');
                            if (!redirectUrl)
                                redirectUrl = '/home';
                            window.location.href = redirectUrl;
                        }
                    });
                }
            });

            $('#page-form-showpwd').on('mousedown', function() { 
                $('#page-form-pwd').prop('type', 'text');
            }).on('mouseup', function() { 
                $('#page-form-pwd').prop('type', 'password');
            })
            site.inputEnter('#page-form-pwd', function() { $form.find('button.btn-primary').trigger('click'); })
        })
    </script>
</body>
</html>